.show-profile-display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-profile-txt {
    text-align: center;
}
.show-profile-img {
    height: 400px;
    margin-right: 40px;
}
.comment-input-bar {
    font-size: 20pt;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    margin: 30px 10px 0px 0px;
}
.comment-input-bar:focus {
    outline: none;
}